/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

/* Estilos para a barra lateral esquerda */
.sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 200px;
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.sidebar i {
    margin-right: 10px;
}

/* Estilos para a região direita (conteúdo) */
.content {
    flex: 1;
    padding: 20px;
}

.content h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

form label,
form input,
form textarea {
    display: block;
    margin-bottom: 15px;
    width: 100%;
}

form input,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #444;
}

.tet{
    margin-top: 200px;
}